@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    border-bottom: 1px solid #000;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

/* NavBar */

.navbar {
    display: flex;
    padding: 10px;
    gap: 20px;
    padding-left: 40px;
}

.bussines {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.user-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 40px;
}

.btn {
    background-color: #942f2f;
    height: 35px;
    border-radius: 35px;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}

.btn:hover,
a:hover {
    opacity: .9;
}

#logo {
    width: 100px;
    height: 35px;
}

/* About-us Section */

#about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    margin-bottom: 30px;
}

#about-us p.highlight {
    margin-bottom: 15px;
    color: #942f2f;
    font-weight: 600;
    font-size: .9rem;
}

#about-us h3 {
    font-weight: 500;
    font-size: 2.2rem;
    color: #222;
    margin-bottom: 25px;
}

#about-us .subtitle {
    color: #5d5d5d;
    width: 50%;
    line-height: 1.5;
    text-align: center;
}

/* Stats Section */

#stats-container {
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 10px;
}

.stat {
    width: 18%;
    display: flex;
    flex-direction: column;
}

.stat-number {
    font-size: 2.5rem;
    color: #942f2f;
    padding: 10px;
}

.stat-title {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px;
}

.stat-description {
    line-height: 1.5;
    color: #5d5d5d;
}

/* New talents section */

#nt-container {
    padding: 40px 0;
}

.nt-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.nt-img {
    margin-bottom: 4rem;
    width: 75%;
    border-radius: 5px;
}

.highlight-nt {
    background-color: #ddd;
    color: #942f2f;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: .9rem;
}

.nt-header h3 {
    font-size: 2.5rem;
}

.nt-header .description {
    color: #5d5d5d;
    font-size: 1.2rem;
    padding-bottom: 4rem;
}

.job {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.jobs {
    padding: 40px;
    border: 1px solid #ccc;
    width: 75%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.job-title {
    align-self: flex-start;
    margin-left: 13%;
}

#margin-bottom {
    margin-bottom: 40px;
}

.job-information {
    display: flex;
    justify-content: space-between;
}

.job-title,
.job-position {
    font-weight: 700;
    font-size: 1.2rem;
}

/* Employee review section */

#employee-review {
    width: 75%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.employee-review {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: rgba(196, 25, 25, 0.03);
}

.employee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.highlight-employee {
    color: #942f2f;
    font-size: .9rem;
    font-weight: 600;
}

.employee-quote {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.employee-name {
    font-weight: 600;
}

.employee-position {
    color: #555;
}

/* Footer container */

footer {
    background: rgba(196, 25, 25, 0.03);
    padding: 4rem;
}

.footer-container {
    position: relative;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.footer-title {
    font-size: 2rem;
    padding-bottom: 10px;
}

.footer-subtitle {
    font-size: 1.2rem;
    color: #5d5d5d;
    padding-bottom: 20px;
}

form {
    width: 100%;
    padding-bottom: 2rem;
}

#email,
#form-btn {
    width: 70%;
    border: none;
    padding: 8px 12px;
    outline: none;
    transition: .3s;
}

#form-btn{
    width: 18%;
    border-radius: 5px;
}

#email:hover{
    background-color: #f1f1f1;
}

#copyright{
    color: #5d5d5d;
}